In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
df = pd.read_csv("/Users/furkanozdal/Downloads/traffic_density__202407.csv")

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1777494 entries, 0 to 1777493
Data columns (total 8 columns):
 #   Column              Dtype
---  ------              -----
 0   DATE_TIME           object
 1   LONGITUDE           float64
 2   LATITUDE            float64
 3   GEOHASH             object
 4   MINIMUM_SPEED       int64
 5   MAXIMUM_SPEED       int64
 6   AVERAGE_SPEED       int64
 7   NUMBER_OF_VEHICLES  int64
dtypes: float64(2), int64(4), object(2)
memory usage: 108.5+ MB

In [14]:
df.head()

,DATE_TIME,LONGITUDE,LATITUDE,GEOHASH,MINIMUM_SPEED,MAXIMUM_SPEED,AVERAGE_SPEED,NUMBER_OF_VEHICLES
0,2024-07-01 00:00:00,28.064575,41.201477,sx7fqs,58,163,90,39
1,2024-07-01 00:00:00,28.888550,41.009216,sxk933,2,48,27,15
2,2024-07-01 00:00:00,28.504028,41.069641,sxk38s,5,161,37,68
3,2024-07-01 00:00:00,29.185181,40.998230,sxkc0p,5,61,33,11
4,2024-07-01 00:00:00,29.196167,40.992737,sxkc0q,9,48,24,13

In [25]:
from meteostat import Point, Daily
from datetime import datetime

In [27]:
districts = {
    "Adalar": {"lat": 40.8750, "lon": 29.1456},
    "Arnavutköy": {"lat": 41.2019, "lon": 28.7424},
    "Ataşehir": {"lat": 40.9915, "lon": 29.1271},
    "Avcılar": {"lat": 40.9791, "lon": 28.7215},
    "Bağcılar": {"lat": 41.0390, "lon": 28.8567},
    "Bahçelievler": {"lat": 40.9970, "lon": 28.8445},
    "Bakırköy": {"lat": 40.9719, "lon": 28.8722},
    "Başakşehir": {"lat": 41.0936, "lon": 28.8020},
    "Bayrampaşa": {"lat": 41.0465, "lon": 28.8995},
    "Beşiktaş": {"lat": 41.0439, "lon": 29.0063},
    "Beykoz": {"lat": 41.1328, "lon": 29.0840},
    "Beylikdüzü": {"lat": 41.0015, "lon": 28.6420},
    "Beyoğlu": {"lat": 41.0386, "lon": 28.9864},
    "Büyükçekmece": {"lat": 41.0201, "lon": 28.5856},
    "Çatalca": {"lat": 41.1457, "lon": 28.4602},
    "Çekmeköy": {"lat": 41.0209, "lon": 29.1625},
    "Esenler": {"lat": 41.0439, "lon": 28.8881},
    "Esenyurt": {"lat": 41.0342, "lon": 28.6767},
    "Eyüp": {"lat": 41.0578, "lon": 28.9333},
    "Fatih": {"lat": 41.0168, "lon": 28.9497},
    "Gaziosmanpaşa": {"lat": 41.0884, "lon": 28.9070},
    "Güngören": {"lat": 41.0194, "lon": 28.8693},
    "Kadıköy": {"lat": 40.9900, "lon": 29.0270},
    "Kağıthane": {"lat": 41.0794, "lon": 28.9706},
    "Kartal": {"lat": 40.8910, "lon": 29.1828},
    "Küçükçekmece": {"lat": 41.0041, "lon": 28.7761},
    "Maltepe": {"lat": 40.9346, "lon": 29.1482},
    "Pendik": {"lat": 40.8743, "lon": 29.2280},
    "Sancaktepe": {"lat": 40.9879, "lon": 29.2317},
    "Sarıyer": {"lat": 41.1682, "lon": 29.0500},
    "Silivri": {"lat": 41.0739, "lon": 28.2465},
    "Sultanbeyli": {"lat": 40.9600, "lon": 29.2642},
    "Sultangazi": {"lat": 41.1105, "lon": 28.8651},
    "Şile": {"lat": 41.1759, "lon": 29.6132},
    "Şişli": {"lat": 41.0605, "lon": 28.9871},
    "Tuzla": {"lat": 40.8175, "lon": 29.3082},
    "Ümraniye": {"lat": 41.0163, "lon": 29.1245},
    "Üsküdar": {"lat": 41.0257, "lon": 29.0150},
    "Zeytinburnu": {"lat": 40.9946, "lon": 28.9169}
}

In [50]:
# Başlangıç ve bitiş tarihlerini ayarla (son 5 yıl)
start = datetime.now() - timedelta(days=5*365)
end = datetime.now()

# Veriyi tutacak liste
all_weather_data = []

for district, coords in districts.items():
    lat = coords['lat']
    lon = coords['lon']
    
    # İlçe için noktayı oluştur
    location = Point(lat, lon)

    # Meteostat'tan günlük verileri çek
    data = Daily(location, start, end)
    data = data.fetch()
    # Veriyi listeye ekle
    for date, row in data.iterrows():
        all_weather_data.append({
            'district': district,
            'date': date,
            'temperature': row['tavg'],
            'precipitation': row['prcp'],
            'snowfall': row['snow'],
            'wind_speed': row['wspd'],
            'pressure': row['pres']
        })

In [51]:





    

# Pandas DataFrame'e dönüştür
df = pd.DataFrame(all_weather_data)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135050 entries, 0 to 135049
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   district       135050 non-null  object
 1   date           135050 non-null  datetime64[ns]
 2   temperature    134912 non-null  float64
 3   precipitation  45455 non-null   float64
 4   snowfall       0 non-null       float64
 5   wind_speed     134883 non-null  float64
 6   pressure       110437 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 7.2+ MB

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67525 entries, 0 to 67524
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   district       67525 non-null  object
 1   date           67525 non-null  datetime64[ns]
 2   temperature    67463 non-null  float64
 3   precipitation  45455 non-null  float64
 4   snowfall       0 non-null      float64
 5   wind_speed     67462 non-null  float64
 6   pressure       66853 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 3.6+ MB

In [39]:
df["date"]

0        2014-08-23
1        2014-08-24
2        2014-08-25
3        2014-08-26
4        2014-08-27
            ...
135045   2024-08-15
135046   2024-08-16
135047   2024-08-17
135048   2024-08-18
135049   2024-08-19
Name: date, Length: 135050, dtype: datetime64[ns]

In [40]:
# CSV dosyasına yaz
df.to_csv('istanbul_districts_weather_last_5_years.csv', index=False)

print("CSV dosyası başarıyla oluşturuldu.")

CSV dosyası başarıyla oluşturuldu.

In [53]:
df.isna().sum()

district             0
date                 0
temperature         62
precipitation    22070
snowfall         67525
wind_speed          63
pressure           672
dtype: int64

In [41]:
df.isna().sum()

district              0
date                  0
temperature         138
precipitation     89595
snowfall         135050
wind_speed          167
pressure          24613
dtype: int64

In [46]:
df["snowfall"].unique()

array([nan])

In [49]:
df["precipitation"].isna().sum()

89595